build*/
out/
install/
cmake-build-*/

CMakeUserPresets.json

.vs/
*.suo
*.user
*.vcxproj.user

[Dd]ebug/
[Rr]elease/
x64/
x86/

.vscode/*
!.vscode/c_cpp_properties.json
.vscode/ipch/
.vscode/browse.vc.db*


.cache/
compile_commands.json

*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.exe
*.pdb
*.ilk
*.exp


core
core.*
vgcore.*
perf.data*
callgrind.out.*
*.gcda
*.gcno
*.profraw
*.profdata

.DS_Store
Thumbs.db
desktop.ini